@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@300;400;600;800&family=Raleway:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  background-image: url("images/ray.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 466px;
  text-align: center;
}

.inner-div h1 {
  font-size: 60px;
}

.inner-div h1 span {
  color: #fdad03;
}

.inner-div p {
  text-align: center;
  margin-top: 30px;
}

.inner-div img {
  width: 366px;
}

.inner-div .button input {
  width: 250px;
  height: 50px;
  padding: 0px 8px;
  border: 1px solid #fcac00;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 14px;
  color: #121212;
}

.inner-div .button {
  padding: 5px;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.inner-div .button button {
  width: 184px;
  height: 50px;
  border-radius: 5px;
  background-color: #fdad03;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  border: none;
}

@media screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
  }
  body {
    width: 100%;
    float: left;
    position: fixed;
  }
  .container {
    width: 100%;
    padding: 20px;
  }
  form,
  .inner-div {
    width: 100%;
  }
}
